html {
    font-family: Roboto;
    font-size: 17px;
    line-height: 1.68;
    color: #1a1a1a;
    min-width: 1104px;
}

body {
    margin: 0 0 100px 0;
}

header, main, .left-right.code {
    display: grid;
    grid-template-columns:
        [screen-start] 1fr
        [page-start kicker-start left-start] 60px [middle-start] 60px
        [text-start kicker-end] 60px 60px 60px 60px
        [left-end right-start] 60px 60px 60px 60px
        [text-end gutter-start] 60px [middle-end] 60px 
        [page-end gutter-end right-end] 1fr [screen-end];
    grid-column-gap: 32px;
}

.request-response {
    display: grid;
    grid-template-columns:
        [request-start response-gutter-start] 60px
        [response-gutter-end response-start] 60px 60px 60px 60px 60px 60px
        [request-end request-gutter-start] 60px [request-gutter-end response-end];
    grid-column-gap: 32px;
}

main {
    align-items: first baseline;
}

header {
    background-color: #0f103d;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-weight: 300;
    height: 70px;
    align-items: stretch;
}

.title {
    font-size: 17px;
    grid-column: left;
    display: grid;
    grid-auto-flow: column;
    align-items: stretch;
    justify-self: start;
}

nav {
    grid-column: right;
    display: grid;
    grid-auto-flow: column;
    align-items: stretch;
    justify-self: end;
    grid-gap: 24px;
    text-transform: uppercase;
}

header a {
    display: flex;
    align-items: center;
}

header a:hover {
    color: #fff;
}

.title img {
    width: 24px;
    height: 24px;
    margin: -4px 10px -2px 0;
}

main > * {
    grid-column: text;
}

.pagewidth {
    grid-column: page;
}

h1 {
    font-size: 50px;
    margin: 60px 0 8px;
    color: #000;
    line-height: 1.1;
}

h2 {
    font-size: 36px;
    margin: 64px 0 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 20px;
    margin: 40px 0 20px;
}

h4 {
    font-size: 13px;
    margin: 1rem 0 0.2rem;
    color: rgba(0, 0, 0, 0.6);
}

h2.first {
    margin-top: 60px;
}

pre, code {
    font-family: "DejaVu Sans Mono";
    font-size: 12px;
}

pre {
    line-height: 1.3;
    background-color: #f4f4f4;
    padding: 6px 10px;
}

.subtitle {
    font-size: 19px;
    font-weight: 300;
    color: #000;
    margin: 0 0 60px;
}

.toc {
    margin: 24px 0 28px;
    line-height: 23px;
}

.toc h2 {
    font-size: 9.6px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border-bottom: none;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.toc ol {
    list-style: none;
    padding-left: 0;
    font-size: 13px;
    margin-bottom: 0;
}

.toc li {
    padding-left: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.toc a {
    border-bottom: none;
}

main > figure, main > img {
    margin: 1rem 0 2rem 0;
}

aside {
    grid-column: gutter;
}

figcaption, aside {
    font-size: 13px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
}

a {
    color: unset;
    text-decoration: unset;
    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

a:hover {
    border-bottom-color: rgb(0, 0, 0, 0.8);
}

p, ol, ul, pre {
    margin: 0 0 1rem;
}

ol, ul {
    padding-left: 2.5rem;
}

li {
    padding-left: 0.6rem;
}

hr {
    grid-column: screen;
    width: 100%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
}

img.inline-key {
    margin: -5px 0 -5px 0;
    vertical-align: middle;
}

.key-formula {
    display: inline-block;
}

.code {
    margin: 1rem 0 4rem;
}

.left-right.code {
    grid-column: screen;
}

.left {
    grid-column: left;
}

.right {
    grid-column: right;
}

.request, .response {
    min-height: 100px;
}

.request, .response, .request-arrow, .response-arrow {
    margin-bottom: 24px;
}

.request-response .header {
    color: #fff;
    font-size: 13px;
    padding: 0 6px;
}

.request-response .key {
    margin-right: 5px;
}

.request-response .key::after {
    content: ':';
}

.request-response .value {
    font-weight: 700;
    margin-right: 25px;
}

.request {
    grid-column: request;
    background-color: #d2e9f8;
}

.response {
    grid-column: response;
    background-color: #fcf3e4;
}

.request .header {
    background-color: #5fb2e6;
}

.response .header {
    background-color: #e79f27;
}

.request-response pre {
    background: none;
    font-family: "DejaVu Sans Mono";
    margin: 0;
    padding: 10px;
}

.request-arrow, .response-arrow {
    align-self: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

.request-arrow {
    grid-column: request-gutter;
}

.response-arrow {
    grid-column: response-gutter;
    transform: scaleX(-1);
}

.code h4 {
    align-self: end;
    margin: 0.5rem 0 0.2rem;
}

.code pre {
    margin: 0;
}

.msgsize {
    font-weight: normal;
    font-style: italic;
}
