html { font-family: sans-serif; font-size: 15px; line-height: 1.4; margin: 80px 30px; }
body { width: 800px; margin: 0 auto; }
header {
    padding: 16px 30px 16px 115px;
    background-color: #00459a;
    color: #fff;
    margin-bottom: 60px;
    height: 75px;
    box-sizing: border-box;
    background: url(../img/hermes_book.svg) bottom left 20px no-repeat #00459a;
    background-size: 75px;
    line-height: 1.1;
}
h1 { font-size: 30px; margin: 0; }
h2 { font-size: 22px; margin: 4rem 0 1rem; }
h3 { font-size: 15px; margin: 2rem 0 1rem; }
p { margin: 1rem 0; }
figure { margin: 4rem 0; }
.chap { font-size: 12px; }
code { font-size: 13px; }
pre { background-color: #e9f3ff; padding: 2px 8px; line-height: 1.2; }
a { color: #00459a; }
